<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>

  <% if (errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(function(error) { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>

  <%- include("forms/login.ejs") %>
</main>

<%- include("foot.partial.ejs") %>

