<%- include("head.partial.ejs") %>

<main>
  <a href="javascript:history.back()" >Powrót</a>
  <h1><%= title %></h1>
  
  <ul class="errors">
    <% errors.forEach(function(error){ %>
    <li><%= error %></li>
    <% }) %>
  </ul>
  <%- include("forms/nowe_polubienie.ejs") %>
</main>

<%- include("foot.partial.ejs") %>