<%- include("head.partial.ejs") %>

<main>
  <h1><%= title %></h1>
  <a href="/">Powrót do wszystkich kategorii</a>

  <% if (!locals.currentUser) { %>
    <p><a href="/logowanie">Zaloguj się</a>, aby tworzyć i zarządzać playlistami.</p>
  <% } %>

  <% if (errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(err => { %>
        <li><%= err %></li>
      <% }) %>
    </ul>
  <% } %>

  <% if (locals.currentUser) { %>
  <form action="/playlista" method="POST">
    <div>
      <label for="name">Nazwa playlisty:</label>
      <input type="text" id="name" name="name" value="<%= name %>">
    </div>

    <div>
      <strong>Wybierz utwory:</strong><br>
      <% utwory.forEach(song => { %>
        <label>
          <input type="checkbox" name="utwory" value="<%= song.tytuł %>"
            <% if (selected.includes(song.tytuł)) { %>checked<% } %>>
          <%= song.tytuł %> - <%= song.wykonawca %> (<%= song.ocena %>)
        </label><br>
      <% }) %>
    </div>

    <button>Dodaj playlistę</button>
  </form>
  <% } %>


<% if (playlists.length > 0) { %>
  <br><br>
  <h2>Twoje playlisty</h2>
  <ul class="playlists-list">
    <% playlists.forEach((pl, idx) => { %>
      <li>
<span class="playlist-header"><u>
  <strong><%= pl.name %></strong>
  <% if (locals.currentUser && locals.currentUser.isAdmin && pl.ownerName) { %>
    <span>(użytkownik: <%= pl.ownerName %>)</span>
  <% } %>
</u></span>

        <ul>
          <% pl.songs.forEach(s => { %>
            <li><%= s.tytuł %> - <%= s.wykonawca %> (<%= s.ocena %>)</li>
          <% }) %>
        </ul>

        <a href="/playlista/edit/<%= idx %>">
          <button type="button">Edytuj</button>
        </a>
        <br>
        <form action="/playlista/delete/<%= idx %>" method="POST">
          <button type="submit" class="delete" onclick="return confirm('Czy na pewno chcesz usunąć tę playlistę?');">Usuń</button>
        </form>
      </li>
      <% if (idx < playlists.length - 1) { %>
        <hr style="border-color: rgb(60, 60, 60); margin: 1.5% 0;">
      <% } %>
    <% }) %>
  </ul>
<% } %>
</main>

<%- include("foot.partial.ejs") %>
